<div class="container main-container">

    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="list-group lista">
                <a href="#" class="list-group-item list-group-item-action active">
                          Cras justo odio
                        </a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 ">
            <h1>FireChat</h1>

            <div class="col-md-12" *ngIf="cs.usuario.uid">
                <button (click)="cs.logout()" type="button" class="btn btn-outline-danger pull-left">Salir</button>
            </div>
            <br>
            <!-- <div class="col-md-12"> -->
            <div class="chat-window">
                <app-chat *ngIf="cs.usuario.uid"></app-chat>
                <app-login *ngIf="!cs.usuario.uid"></app-login>
            </div>
            <!-- </div> -->
        </div>
    </div>

</div>